<%-contentFor('master') %>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Create User</h3>
    </div>
    <div class="card-body">
        <form action="" method="post">
            <%- include('./form') -%>
        </form>
    </div>
</div>
